// //css components
.button {
  padding: 12.5px 32px;
  color: $text-cl;
  font-weight: 600;
  font-size: 18px;
  background: $bg-liner;
  box-shadow: $box-shadow;
  border-radius: 8px;
  cursor: pointer;
  &:hover {
    background: $bg-liner-hover;
    transition: $t;
  }
}
.button-outline {
  padding: 12.5px 32px;
  font-weight: 600;
  font-size: 18px;
  color: $main-cl;
  border: 1px solid $main-cl;
  border-radius: 8px;
  &:hover {
    color: $text-cl;
    background: $bg-liner;
    box-shadow: $box-shadow;
    transition: 0.4s;
  }
}

.title-section {
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
}

.title-block {
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  color: $white-cl;
}

.text-des-20 {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: $white-cl;
}
.text-des-16 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $white-cl;
}
.text-des-gray {
  font-weight: 400;
  font-size: 18px;
  color: $text-gray;
}
