// css footer
footer {
  position: relative;
  z-index: 999;
  .social-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      z-index: 1;
      a {
        cursor: pointer;
      }
    }
    .icon-social {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  }
  .line {
    background: linear-gradient(
      90deg,
      #28bfbf 0%,
      rgba(18, 140, 184, 0.99) 100%
    );
    margin: 30px 0px 24px;
    height: 1px;
    opacity: 0.4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .category-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 72px;
    .block {
      h3 {
        font-weight: 600;
        font-size: 18px;
        line-height: 140%;
        padding-bottom: 8px;
      }
      ul li {
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: #abbbc2;
        &:not(:last-child) {
          padding-bottom: 8px;
        }
      }
    }
    .--host {
      text-align: right;
    }
    .--join {
      text-align: left;
    }
  }
  .ic-danger {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 0 8px;
    cursor: pointer;
  }
  .end {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #bdbdbd;
    margin-bottom: 24px;
  }
  .background-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;
    img {
      width: 100%;
    }
  }
  &::before {
    content: "";
    position: absolute;
    width: 400px;
    height: 400px;
    left: 0px;
    background: #07509c;
    filter: blur(250px);
    transform: translateY(-60%);
  }
}
.totop {
  position: fixed;
  width: 80px;
  height: 80px;
  z-index: 200;
  right: 20px;
  bottom: 40px;
  background: $yellow-cl;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  border-radius: 50%;
  span {
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 13px;
    text-align: center;
  }

  &.active {
    opacity: 1;
    pointer-events: auto;
    transition: 0.3s;
  }
}
